


<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  <div id="menu_login">


  <div class="row">
  <form class="col s12">
  <div class="row">
  <div class="input-field col s12">
  <input id="email" type="email" class="validate ">
  <label for="email" data-error="wrong" data-success="¡Bien!">Email</label>
  </div>

<div class="input-field col s12">

          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
          <a href="#/login" id="btn" class="waves-effect amber lighten btn-large">Pasear</a>
          <a href="#/login" id="btn_cuenta" class="waves-effect red darken-4 btn-large">¡Quiero una cuenta!</a>


</form>
</div>


</div>


  </body>
</html>
