<!DOCTYPE html>
<html>
    <head>
       <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">  -->
       <script src="../js/angular.min.js" > </script>
       <script type="text/javascript" url="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
       <script src="../js/angular-route.min.js"></script>
       <script src="https://www.gstatic.com/firebasejs/3.2.0/firebase.js"></script>
       <script src="../js/sesion.js"></script>
       <script src="../js/login.js"></script>

       <!-- configuracion de rutas -->


       <meta name="format-detection" content="telephone=no">
       <meta name="msapplication-tap-highlight" content="no">
       <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
       <meta charset="utf-8">
       <title>Citymoll</title>
       <!-- Librerias css-->
       <link rel="stylesheet" type="text/css" href="../css/materialize.css">
       <link rel="stylesheet" type="text/css" href="../css/registros.css">
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


       </head>
      <!--Cuerpo de la aplicación-->

       <body ng-app="citymollapp">

       <div class="ventana">

         <div id="head-1" class="z-depth-1">
         <p id="text-head"><a href="javascript:history.back(1)">
         <i id="flecha-1" class=" material-icons left">arrow_back</i></a><p id="text-head" style="margin-top:-13px;">Inicia sesión</p></p>



         </div>

         <div class="ventanaRegistro">

         </div>


          <section id="form_login">
          <form>

          <div class="input-field col s12">
             <input id="mail" type="email" class="validate">
             <label for="email" data-error="Escribe un correo valido" data-success="¡Bien!" for="email">Email</label>
           </div>
           <div class="input-field col s12 ">
             <input id="pass" type="password" class="validate"></input>
             <label for="password">Password</label>
           </div>
          <input id="btn_login" style="width:100%;" type="button" class="waves-effect green accent-3 btn-large" value="¡Listo!"></input>
          </form>
          <a href="registro.html" id="btn_cuenta" class="waves-effect deep-orange accent-3 btn-large">Quiero una cuenta</a>

          </section>


          <script>login();</script>




                   </div>

                         <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                   <script>
                     $(window).load(function() {
                       $('#preloader').fadeOut('slow');
                       $('body').css({'overflow':'hidden'});
                   })

                   </script>
                   <!-- Termina la cabesera-->


                   <div id="preloader"><div id="logo" ng-include src=" 'img/logo.svg' "></div>

                       <div id="loader">

                         <h3 id="cargando"><div class="preloader-wrapper big active">

      <div class="spinner-layer spinner-yellow-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div></h3></div>
                   </div>

        <input id="cerrar" type="button" value="Cerrar Sesion"></input>


       <!-- Script de materialize-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="../js/materialize.min.js"></script>
        <!-- Script de Cordova-->
        <script type="text/javascript" src="../cordova.js"></script>
        <script type="text/javascript" src="../js/index.js"></script>


    </body>
</html>
